<h1>BIENVENIDO" </h1>
<p>Pagina para administrar CURSOS</p>
<p>
  Edad = {{edad}}{{esMayorDeEdad()}}<br/>
  Salario mensual = {{salario}} <br/>
  Salario anual = {{salario * 12}} <br/>
</p>

<br/>

<p>
  Edad = {{ edad }}
  <span *ngIf="edad < 18">Es menor de edad</span><br/>
</p>

<ul>
  <li *ngFor="let sueldo of sueldos"> {{ sueldo }} </li>
</ul>


<hr/>
<p>
{{contador}}
<button (click)="incrementar()">Incrementar</button>
</p>

<hr/>

<form> 
<input type ="text" name="txtName" [ngModel]="name"/><br/>
A = <input type="number" name="txtA" [(ngModel)]="a"/><br/>
B = <input type="number" name="txtB" [(ngModel)]="b"/><br/>
C = <input type="number" name="txtC" [(ngModel)]="c" /><br/>
<button (click)="sumar()">Sumar</button>

</form>

<hr/>

<table border="1">
<thead>
<tr>
  <th>Codigo</th>
  <th>Descripcion</th>
  <th>Precio</th>
</tr>
</thead>



<!-- <app-formulario (enviarDatos)="agregarArticulo($event)"></app-formulario> -->


<tbody>
<tr *ngFor="let articulo of articulos; let i = index">
  <td>{{articulo.codigo}}</td>
  <td>{{articulo.decripcion}}</td>
  <td>{{articulo.precio}}</td>
  <td> 
    <button (click)="seleccionar(articulo, i)">Seleccionar</button>
    <button (click)="borrar(i)">Borrar</button> 
  </td>
</tr>
</tbody>
</table>

<hr/>



Código: <input type="number" [(ngModel)]="codigo" name="txtCodigo"/><br/>
Decripción: <input type="text" [(ngModel)]="decripcion" name="txtDecripcion"/><br/>
Precio: <input type="number" [(ngModel)]="precio" name="txtPrecio"/><br/>


<button (click)="guardar()"> Guardar</button>




<hr/>

<app-dado #dado1 color="red"> </app-dado>
<app-dado #dado2 color="black"> </app-dado>
<app-dado #dado3 color="blue"> </app-dado>

<hr>
<button (click)="dado1.lanzar()">Lanzar 1</button>
<button (click)="dado2.lanzar()">Lanzar 2</button>
<button (click)="dado3.lanzar()">Lanzar 3</button>

<hr>
<button (click)="lanzar()">Lanzar Todos</button>

<p>
Resultado = {{result}}<br/>
</p>


<hr>



<table border="1">
<thead>
<tr>
<th>Nombre</th>
<th>Raza</th>
<th>Foto</th>
</tr>
</thead>

<!-- <app-formulario (enviarDatos)="agregarArticulo($event)"></app-formulario> -->

<tbody>
<tr *ngFor="let perro of perros">
<td>{{perro.nombre}}</td>
<td>{{perro.raza}}</td>
<td><img src="{{perro.foto}}" width = "50 px"/></td>
<td></td>
<td> 
  <button>Seleccionar</button>
  <button>Borrar</button> 
</td>
</tr>
</tbody>
</table>

