<h2>Agregar Nuevo Curso</h2>
<form (ngSubmit)="agregarCurso()">
  <label for="nombre">Nombre del Curso:</label>
  <input type="text" id="nombre" [(ngModel)]="nombre" name="nombre" required>
  <hr>

  <label for="instructor">Nombre del Instructor:</label>
  <input type="text" id="instructor" [(ngModel)]="instructor" name="instructor" required>
  <hr>

  <label for="fecha">Fecha de Inicio:</label>
  <input type="date" id="fecha" [(ngModel)]="fecha" name="fecha" required>
  <hr>

  <label for="duracion">Duración (horas):</label>
  <input type="number" id="duracion" [(ngModel)]="duracion" name="duracion" required>
  <hr>

  <label for="descripcion">Descripción:</label>
  <textarea id="descripcion" [(ngModel)]="descripcion" name="descripcion" required></textarea>
  <hr>

  <button type="submit">Agregar Curso</button>
</form>
